<a href="https://colab.research.google.com/github/kanisasthi/kavitha1/blob/main/pythonfdp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 my_str="python Rocks"
print(len(my_str))

print(my_str[0:8])
print(my_str[-12:-1])
print(my_str[-12:])
print(my_str[-3:])
print(my_str[:-3])

12
python R
python Rock
python Rocks
cks
python Ro

In [ ]:
month=2
height=1.7
type(height)

float

In [ ]:
x="python progrmming"
type(x)

str

In [ ]:
y=False
type(y)

bool

In [ ]:
my_str="python Rocks"
print(my_str)
print(len(my_str))
print(my_str[0])
print(my_str[-11])

python Rocks
12
p
y

In [ ]:
 my_str="python Rocks"
print(my_str[1])

print("y" in my_str)
print("a" in my_str)
print("Rocks"in my_str)

y
True
False
True

In [ ]:
print (1+2)

3

In [ ]:
mytup1=(12,25.4,"python",212)
mytup2=(-21,224,87.6,"hello",22)
print(mytup1)
print(len(mytup1))
print(type(mytup1))
print(mytup2)
print(len(mytup2))

(12, 25.4, 'python', 212)
4
<class 'tuple'>
(-21, 224, 87.6, 'hello', 22)
5

In [ ]:
emptup=()
print(type(emptup))
print(emptup)
onetup=(211.5,)
print(type(onetup))
print(onetup)

<class 'tuple'>
()
<class 'tuple'>
(211.5,)

In [ ]:
testtup1=(3,4),
testtup2=(5,6),
res=testtup1+testtup2
print("tuples are  concatenation" +str(res))
print(len(res))

tuples are  concatenation((3, 4), (5, 6))
2

In [ ]:
testtup1=(3,4),
testtup2=(5,6),
res=testtup1+testtup2
x=res*4
print("tuples are  concatenation" +str(res))
print(len(res))

tuples are  concatenation((3, 4), (5, 6))
2

In [ ]:
fam=["kani",345,34.6,"tiger"]
print(fam)
fam

['kani', 345, 34.6, 'tiger']

['kani', 345, 34.6, 'tiger']

In [ ]:
fam=["kani",345,34.6,"tiger"]
type(fam)
fam

['kani', 345, 34.6, 'tiger']

In [ ]:
fam=["liz",1.73,"mom",1.71,"dad",1.89]
print(fam[3:5])
fam[:4]
fam[3:]

[1.71, 'dad']

[1.71, 'dad', 1.89]

In [ ]:
fam=["liz",1.73,"mom",1.71,"dad",1.89]
print(fam[3:5])
print(fam[:4])
fam[3:]

[1.71, 'dad']
['liz', 1.73, 'mom', 1.71]

[1.71, 'dad', 1.89]